%tr
 %td
  %div.job-container{datajobid: job.id }
   %div.bold= job.title 
   %div.courier= job.company
   %div.italic= job.salary
   %img{src: job.logo_img}
   //%div= job.source_id
   //%div= job.json
