%div.container
  %h1 All Jobs  
  %p  
    Currently Curating  
    = @job_count
    jobs.
    = link_to "Add Job",  new_job_path, class: "btn-success btn"
  %div.row
    %table.col-md-4
      =render partial: 'job', collection: @jobs
      
    %div#ajaxContainer.col-md-8
  
  = will_paginate  @jobs