%div.container
 %h1 All Jobs
 %div.row
  %table.col-md-4
   =render partial: 'job', collection: @jobs
   
  %div#ajaxContainer.col-md-8
 = link_to "Add Job", new_job_path, class: "btn-success btn"
 =will_paginate @jobs