%h1 Recruiter
- if @current_user
  %p= "Welcome back, #{@current_user}"
  %h2 Jobs
  %p These are your listed jobs:
  %ol
    - @current_user.jobs.each do |job|
      %li= job.title
  =link_to "All Jobs", jobs_path, class: "btn btn-primary"