%h1 Recruiter
- if @current_user
  %p= "Welcome back, #{@current_user.name}"
  %h2 Jobs
  %p These are your listed jobs:
  %ol
    - @current_user.jobs.each do |job|
      %li=link_to job.position, job_path(job)
  =link_to "All Jobs", jobs_path, class: "btn btn-primary"
